:root {
  --color0: #030C1A;
  --color1: #DB1D50;
  --color2: #F92F4D;
  --color3: #B1435D;
  --color4: #F3555A;
  --color5: #525F8E;
  --color6: #A1658F;
  --color7: #BC98A2;
  --color8: #666666;
  --color9: #DB1D50;
  --color10: #F92F4D;
  --color11: #B1435D;
  --color12: #F3555A;
  --color13: #525F8E;
  --color14: #A1658F;
  --color15: #BC98A2;
}
